body {
    background-color: #2b2922;
    color: #fff;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Red', 'Rose';
}
.container {
    height: 100%;
}
/* here starts navbar  */

.navbar {
    display: flex;
    justify-content:space-around;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 37px;
    position: absolute;
    font-size: 20px;
    left: 42%;
}

.list-item {
    margin: 17px;
    color: #696d61;
    font-weight: bold;
}

.list,
:nth-child(1) {
    color: #fff
}

.logo {
    margin-left: -120px;
    margin-top: 20px;
}

.button-small {
    position: absolute;
    top: 6%;
    left: 81%;
    padding: 15px 35px;
    background-color: transparent;
    border-radius: 10px;
    color: #a08f36;
    border-color: #a08f36;
    border: 1px solid;
}


/* Section  */
.hero-heading {
    float: left;
    width: 50%;
    margin-top: 80px;
    font-size: 5.5rem;
    margin-left: 115px;
}

.hero {
    width: 100%;
    float: left;
}


.hero-para {
    line-height: 1.4;
    position: absolute;
    left: 62%;
    top: 30%;
    width: 30%;
    font-size: 1.5rem;
    color: #aba9a1;
}

.image {
    width: 100%;
    float: left;
}

.image img {
    width: 100%;
    float: left;
    height: 350px;
    margin-top: 40px;
}